<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%"
    style="border-collapse: collapse; font-size: 14px; line-height: 24px;">
    <tr>
        <td style="font-size: 18px; line-height: 27px; padding: 0px 0px 5px 0px;">
            <b>Hello Victor</b>
        </td>
    </tr>
    <tr>
        <td>
            <b>You have a new Photoshoot Booking</b>
        </td>
    </tr>
    <tr>
        <td>
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%"
                style="border-collapse: collapse; font-size: 14px; line-height: 24px;">
                <tr>
                    <th>Name</th>
                    <td>{{name}}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{email}}</td>
                </tr>
                <tr>
                    <th>Phone</th>
                    <td>{{phone}}</td>
                </tr>
                <tr>
                    <th>Subject</th>
                    <td>{{subject}}</td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td>{{date}}</td>
                </tr>
                <tr>
                    <th>Service</th>
                    <td>{{service}}</td>
                </tr>
                <tr>
                    <th>Message</th>
                    <td>{{message}}</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="padding: 20px 0 0 0">
            Cheers,
        </td>
    </tr>
    <tr>
        <td>
            Mailer Team.
        </td>
    </tr>
</table>